<% content_for :title, "Você já participou" %>

<div class="alert alert-warning">
  <h1 class="h4">Você já participou desta campanha</h1>
  <p class="mb-0">Apenas uma resposta por pessoa é permitida. Obrigado!</p>
</div>
